@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-open-sans: 'Open Sans', sans-serif;
  --font-merriweather-sans: 'Merriweather Sans', sans-serif;
  --background: #ffffff;
  --foreground: #404040;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-merriweather-sans), sans-serif;
  color: #003578;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), Helvetica, sans-serif;
}
